body {
  padding: 0;
  margin: 0;
}
h1 {text-align: center;}
p {text-align: center;}

.day {
  margin-left: 250pt;
}
.daybox {
  background: rgb(188, 212, 153);
  float:left;
  padding: 100;
}
.inner_daybox {
  display: block;
  padding: 100;
}

.PREjobbox {
  background: rgb(10, 99, 0);
  display: inline;
  padding: 100;
  margin: 100;
}

.outerjobbox {
  display: block;
  padding: 100;
  margin: 100;
}

#add_predef_jobs {
  background: rgb(188, 100, 153);
  float: left;
  display: block;
  padding: 100;
  margin: 100;
}

#add_job {
  background: rgb(188, 212, 153);
  float: left;
  display: block;
  padding: 100;
  margin: 100;
}

.jobbox {
  background: rgb(100, 99, 0);
  float: left;
  display: inline;
  padding: 100;
  margin: 100;
}
/* .jobbox {
  display: inline;
} */
#del_day {
  display: inline;
}
#add_day {
  display: inline;
}
