body {
  background: rgba(140, 133, 130, 0.79);
  padding: 20px;
  margin: 0px;
  block-size: fit-content;
}
h1 {
  text-align: center;
}
p {
  text-align: left;
  margin: 10px;
}
.day {
  /* margin-left: 250pt; */
  float: right;
  width: fit-content;
}


.daybox {
  background: rgb(188, 212, 153);
  float:left;
  margin: 1px;
  padding: 1px;
}
.inner_daybox {
  display: block;
}

#job {
  /* background: rgb(188, 212, 10); */
  position:relative;
  float: left;
  display: block;
  width: 40%;
  padding: 10px;
}

#add_job_btn {

}

#add_job {
  position:relative;
  background: #f6e8b8;
  float: left;
  width: fit-content;
  display: block;
  padding: 100;
  margin: 100;
}


.outerjobbox {
  display: block;
  /* background: rgb(0, 151, 139); */
  padding: 10px;
  margin: 10px;
}

/* #jobdelbtn {
  width: 5%;
  float:left;
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

#jobdelbtn:hover {background-color: #3e8e41}

#jobdelbtn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
} */


#add_predef_jobs {
  background: #c7e3ab;
  float: left;
  display: block;
  padding: 100;
  margin: 100;
  width: fit-content;
}

/* #new_j {
  display: block;
  background: rgb(188, 0, 153);
  float: left;
} */


.jobbox {
  /* background: rgb(100, 200, 0); */
  float: left;
  display: inline;
  /* padding: 10px; */
  /* margin: 2px 3px; */
}

[id^="jobdelbtn"] {
  padding: 0px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 5px;
  }

[id^="jobdelbtn"]:hover {background-color: #3e8e41}

[id^="jobdelbtn"]:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

#del_day {
  display: inline;
}
#add_day {
  display: inline;
}

/* .inlinebtn {
  float: left;
  display: inline;
} */

#add_day_btn {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

#add_day_btn:hover {background-color: #3e8e41}

#add_day_btn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

#del_day_btn {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

#del_day_btn:hover {background-color: #3e8e41}

#del_day_btn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

#add_job_btn {
  margin-top: 10px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

#add_job_btn:hover {background-color: #3e8e41}

#add_job_btn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

#submitdivbtn {
  width: 50%;
  bottom: 0;
  right: 0;
  height: 200px;
  float:right;
  display: inline-block;
  padding: 15px 25px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

#submitdivbtn:hover {background-color: #3e8e41}

#submitdivbtn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

.logbtn {
  width: fit-content;
  bottom: 0;
  right: 0;
  height: 30px;
  display: inline-block;
  /* padding: 15px 25px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 5px; */
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

.logbtn:hover {background-color: #3e8e41}

.logbtn:active {
  background-color: #82ceb4;
  transform: translateY(4px);
}

.texts {
  margin: 10px;
  text-align: center;
  display: inline-grid;
  column-gap: 10px;
  font-size: 24px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}

.jt_txt {
  margin: 10px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7e3ab;
  border: none;
  border-radius: 15px;
}
