{% extends "defs/base.html" %}

{% block content %}

<legend><h1>Jobtypes</h1></legend>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for jt in jobtypes %}
    <div class="single_jobtype">
        <input type="text" name="jt_name" id="jt_name{{ forloop.counter }}" value="{{ jt.name }}" disabled>
        <li><a href="{% url 'defs:update-jobtype' jt.id %}">Update</a></li>
        <li><a href="{% url 'defs:detail-jobtype' jt.id %}">Delete</a></li>
        <li><a href="{% url 'defs:job_def' jt.id %}">Shifts</a></li>
        <br>
    </div>
{% endfor %}

<div id="jobtypeforms"></div>

<button type="button" hx-get="{% url 'defs:jobtype-form' %}" hx-target="#jobtypeforms" hx-swap="beforeend">
    Add jobtype
</button>

{% endblock %}
