{% extends "base.html" %}

{% block content %}
    <div class = "navbar">
        <div class = "navbar item">
            <li><a href="{% url 'defs:index' %}">Back Home</a></li>
        </div>
        <div class = "navbar item">
            <li><a href="{% url 'defs:jobtype_def' %}">Back to Jobtype Overview</a></li>
        </div>
    </div>

    <legend><h1>{{ jobtype.name }} Jobs</h1></legend>
    {% autoescape off %}
      {% comment %} {{ plot_div }} {% endcomment %}
      {% load plotly_dash %}
      <div class="{%plotly_class name='defplot' %}", style="height:100%;width:100%;">
          {% plotly_app name="defplot" ratio=1 %}
      </div>
    {% endautoescape %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{% endblock %}