p5/
fl*
_[^_]*$
_[^_]*/
*.npy
*.pyc
*.cip
.env
*playground*
TheShiftplanAlgorithm/solutions/
TheShiftplanAlgorithm/_cmd_db_to_json.sh
helper_sol/
crew_sol/

# scss cache
TheShiftplan/static/CACHE/

# Django, python, ide
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/*
*.code-workspace
