caldav
chart-studio
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
django
django_compressor
django-bootstrap4
django-cors-headers
django-libsass
django-nested-admin
django-plotly-dash
djangorestframework
flask
flask-compress
pandas
plotly
python-decouple
