{% extends "base.html" %}

{% block content %}
{% include "header.html" %}
<div class = "navbar">
    <div class = "navbar_item">
        <li><a href="{% url 'sols:index' %}">Back to sols index.</a></li>
    </div>
</div>
<style>
    .disp {
        display: flex;
      justify-content: space-evenly;
      }
</style>
<div class="item_list disp">
    <ul>
        {% for s in solutions %}
                <button class="add_button" type="button" hx-get="{% url 'sols:show_solution' s.id %}" hx-target="#solplot" hx-swap="innerHTML">
                    Solution {{ s.id }}
                </button>
        {% endfor %}
    </ul>
</div>
<div id="solplot"></div>


{% endblock content %}

