{% extends "base.html" %}

{% block content %}

<div class = "navbar navbar-light bg-light navbar-expand">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
            {% if admin_new_solution %}
                There are new solutions.
            {% endif %}
            <a class="nav-link" href="{% url 'sols:sol_runs' %}">Solution runs.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sols:own_shifts' %}">Compact own shifts.</a>
        </li>
        {% if final_sol %}
            <li class = "nav-item">
                <a class="nav-link" href="{% url 'sols:stats' final_sol.id %}">Stats</a>
            </li>
            <li>
                <a href="{% url 'sols:workload_list' final_sol.id %}">Workload Overview</a>
            </li>
        {% endif %}
    </ul>
</div>

<div>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if final_sol %}
        <h2>Current Solution</h2>
        {% include "sols/sol_container.html" %}
    {% endif %}
</div>
      
{% endblock content %}