{% extends "base.html" %}

{% block content %}
  <div>
    {% if show_solution.final %}
      <div>
        This is the final solution.
        <a href="{% url 'sols:unset_sol_final' show_solution_run.id %}">Unset final.</a>
      </div>
    {% else %}
      <div>
        <a href="{% url 'sols:set_sol_final' show_solution.id %}">Set final.</a>
      </div>
    {% endif %}
  </div>
  <div>
    <a href="{% url 'sols:stats' show_solution.id %}">Stats</a>
  </div>
  <div>
    <a href="{% url 'sols:workload_list' show_solution.id %}">Workload Overview</a>
  </div>
  {% include "sols/sol_container.html" %}
{% endblock content %}