{% extends "base.html" %}

{% block content %}

<div class = "navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav nav-fill w-100">
        <li class = "nav-item">
            <a class="nav-link" href="{% url 'sols:index' %}">Back to sols index.</a>
        </li>
        {% if final_sol %}
            <li class = "nav-item">
                <a class="nav-link" href="{% url 'sols:stats' final_sol.id %}">Stats</a>
            </li>
        {% endif %}
        <li class = "nav-item">
            <a class="nav-link" href="{% url 'sols:own_shifts' %}">Compact own shifts</a>
        </li>
    </ul>
</div>
<div>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if final_sol %}
        <h2>Solution</h2>
        {% include "sols/sol_container.html" %}
    {% endif %}
</div>
{% endblock content %}