{% extends "base.html" %}

{% comment %}
    List logged in user's shifts with time, predecessor and successor

    Available Description strings:
    shift.
        index (int)
        name
        username
        has_predecessors (bool)
        has_successors (bool)

        begin_str (full)
        begin_dayname
        begin_date_str
        begin_time_str
        end_str (full)
        end_dayname
        end_date_str
        end_time_str
        NONE_STR
    pre. extends shift
        parent_id (shift's index)
    suc extends shift #TODO

    #TODO toggle long or short format (only using weekdays for now)
{% endcomment%}

{% block content %}

<div class="container-sm justify-content-center">
    {% for shift in shifts %}
    <div class="card m-3">
        <div class="card-body">
            <h4 class="card-title mb-0">
                {{ shift.name }}
                <span class="badge badge-secondary float-right">{{ shift.begin_dayname }}, {{ shift.begin_date_str }} {{ shift.begin_time_str }} ({{ shift.during_str }})</span>
            </h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item disabled">
                {% if shift.begin_date_str == shift.end_date_str %}
                    {{shift.begin_dayname}}, {{shift.begin_time_str}} - {{shift.end_time_str}}
                {% else %}
                    {{shift.begin_str}} - {{shift.end_str}}
                {% endif %}
                <strong>{{shift.username}}</strong>
            </li>
            <li class="list-group-item list-group-item-primary">
                Predecessor:
                {% if shift.has_predecessors %}
                {% for pre in predecessors %}
                    {% if pre.parent_id == shift.id %}
                        <strong>{{ pre.username }}: </strong>
                        ({{ pre.begin_dayname }}, {{ pre.begin_date_str }} {{ pre.begin_time_str }} ---
                        {{ pre.end_dayname }} {{ pre.end_date_str }} {{ pre.end_time_str }})
                    {% endif %}
                    {% if pre.username == shift.username %}
                        <strong>{{pre.username}}</strong>
                    {% else %}
                        {{pre.username}}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ shift.NONE_STR }}
            {% endif %}
            </li>
            <li class="list-group-item disabled">
                Successor:
                {% if shift.has_successors %}
                    {% for suc in successors%}
                        {% if suc.parent_id == shift.id %}
                            {% if suc.begin_date_str == suc.end_date_str %}
                                {{suc.begin_dayname}}, {{suc.begin_time_str}} - {{suc.end_time_str}}
                            {% else %}
                                {{suc.begin_str}} - {{suc.end_str}}
                            {% endif %}
                            {% if suc.username == shift.username %}
                                <strong>{{suc.username}}</strong>
                            {% else %}
                                {{suc.username}}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ shift.NONE_STR }}
                {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock content %}