{% extends "base.html" %}

{% block content %}
<div class = "navbar">
    <div class = "navbar item">
        <a href="{% url 'sols:index' %}">Back Home</a>
    </div>
</div>
<legend><h1>Workload Overview</h1></legend>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div>
    <h2>Workers</h2>
    <table border="1">
        <thead>
          <tr>
            {% for it in header_items %} 
                <th width="150px"><b> {{ it }} </b></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% if assign_every_job %}
                {% for w in workers %} 
                    <tr>
                        <td><b> {{ w.username }} </b></td>
                        <td> {{ w.sum_workload }} </td>
                        <td> {{ w.shiftplan_hours }} </td>
                        <td> {{ w.bias_hours }} </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for w in workers %} 
                    <tr>
                        <td><b> {{ w.username }} </b></td>
                        <td> {{ w.shiftplan_hours }} </td>
                        <td> {{ w.workload_hours }} </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>
</div>

<div>
    {% if non_workers %}
        <h2>Non Workers</h2>
        {% for w in non_workers %} 
            <li><b>{{ w.username }}</b> - {{ w.sum_workload }}</li>
        {% endfor %}
    {% endif %}
</div>


<div>
    <h2>Solution Plot</h2>
    {% include "sols/sol_container.html" %}
</div>


{% endblock %}