{% extends "defs/base.html" %}

{% block content %}

<h1>Preferences</h1>
Pref page
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
<h2>Your Shiftplans</h2>
{% if shiftplan_list %}
    <ul>
    {% for sp in shiftplan_list %}
      <li><a href="{% url 'pref:tab' sp.id %}">{{ sp.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No shiftplans are available.</p>
{% endif %}

{% endblock %}

