{% extends "defs/base.html" %}

{% block content %}
<header>
    <h1>Prioritäten</h1>
  </header>
  <div id="prios" class="prios">
    <div id="upperleftit" class="normal_gridit">Bitte gib deine Präferenzen an.</div>
    {% for jt in sp.jobtype_set.all %}
  <div id="jt_list">
  <h2 class="header1">  {{ jt.name }}</h2>
  {% comment %} <h5 class="date_time">{{ post.date }}</h5> {% endcomment %}
  {% comment %} {{ post.PostImage|safe }} {% endcomment %}
    <br>        
    </div>
    {% endfor %}

    
    {% for d in days %}
     <div class='normal_gridit'>{{ d }}</div>
     {% endfor %}
     {% for jt in sp.jobtype_set.all %}
      <div class='normal_gridit'> {{ jt.name }}</div>
        {% for da in days %}
            <div class='normal_gridit'>
            <input type='number' name="prioinp" min="1" max="5">
            <div class='grid-item'>INPUT</div>
            </div>
        {% endfor %}
    {% endfor %}

  </div>

{% endblock %}



  <!-- <div class="jobnames">
    <ul>
      <?php
      foreach ($_SESSION["jts"] as $jt){
        $n = $jt["name"];
        echo "<li><span>$n</span></li>";
      }
      ?>
    </ul>
  </div> -->
  {% comment %} 
    <!-- <form action="tab.php"  method="get">
      <div id="inform">
        <div class="day"> -->
          <!-- Fetch predefined days. -->

<p>A Grid Layout must have a parent element with the <em>display</em> property set to <em>grid</em> or <em>inline-grid</em>.</p>

<p>Direct child element(s) of the grid container automatically becomes grid items.</p>


    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50"
                width="100"><br>
                <b>Day/Period</b></br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>9:30-10:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>10:20-11:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Monday</b></td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
            <td rowspan="6" align="center" height="50">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td colspan="3" align="center"
                height="50">LAB</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Tuesday</b>
            </td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Wednesday</b>
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center"
                height="50">LIBRARY
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thursday</b>
            </td>
            <td align="center" height="50">Phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Friday</b>
            </td>
            <td colspan="3" align="center"
                height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Saturday</b>
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td colspan="3" align="center"
                height="50">SEMINAR
            </td>
            <td align="center" height="50">SPORTS</td>
        </tr>
    </table>
</body>

</html> {% endcomment %}
