<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Shiftplan</h1>
  <p><a href="{% url 'prefs:chart' %}">Preferences</a></p>
  <p><a href="{% url 'sols:index' %}">Solution</a></p>
{% else %}

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Shiftplan</h1> 
    <p class="card-text">You are not logged in</p>
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a>
    <a class="btn btn-primary" href="{% url 'accounts:register' %}" role="button">Register</a>
  </div>
</div>


{% endif %}
{% endblock %}