<h1>Time definitions</h1>

<form action="{% url 'defs:time-def' sp.id %}" method="post">
{% csrf_token %}
<fieldset>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="radio" name="time_def" id="hourly" value="hourly" {% if hourly %}checked{% endif %}>
    <label for="hourly">hourly</label><br>
    <input type="radio" name="time_def" id="block" value="block" {% if block %}checked{% endif %}>
    <label for="block">block</label><br>
    <input type="radio" name="time_def" id="individual" value="individual" {% if individual %}checked{% endif %}>
    <label for="individual">individual</label><br>
</fieldset>
<input type="submit" value="submit">
</form>
