{% extends "defs/base.html" %}

{% block content %}

<h1>Time Intervals</h1>
{% if ti_list %}
<div hx-target="this" hx-swap="outerHTML"></div>
    <ul>
    {% for ti in ti_list %}
      <li>{{ ti }} <button hx-get="{% url 'defs:update_ti' ti.id %}">Update</button><button hx-post="{% url 'defs:delete_ti' ti.id %}">Delete</button></li>
    {% endfor %}
    </ul>
</div>
{% else %}
    <p>No time intervals are available.</p>
{% endif %}
<a href="{% url 'defs:create_ti' sp.id %}">Add time interval</a>
{% endblock %}