{% extends "base.html" %}

{% block content %}
    {% include "header.html" %}<!-- Bootstrap5 Accordion
<div class="job_descriptions">
  <div class="accordion" id="job_accordion">
    {% for j in jt_descriptions %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{forloop.counter}}">
        <button
          class="accordion-button"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapse-{{forloop.counter}}"
          aria-expanded="true"
          aria-controls="collapse-{{forloop.counter}}"
        >
          {{ j.name }}
        </button>
      </h2>
      <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse show" aria-labelledby="heading-{{forloop.counter}}" data-mdb-parent="#job_accordion">
        <div class="accordion-body">
          {{ j.description }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
-->
<div id="job-accordion">
  {% for j in jt_descriptions %}
  <div class="card">
    <div class="card-header" id="heading{{forloop.counter}}">
      <h5 class="mb-0">
        <button class="mb-0 btn btn-light" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
          {{j.name}}
        </button>
      </h5>
    </div>

    <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#job-accordion">
      <div class="card-body">
        {{j.description}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}