{% extends "prefs/base.html" %}

{% block content %}

<div hx-target="this" hx-swap="outerHTML">
  <h3>{{ user.username }} Options</h3>
  <div class="segment">
    <h4>Break</h4>
    <p>Minimum break hours: {{ user_options.min_break_hours }}</p>
  </div>
  
  <div class="segment">
    <h4>Bias Hours</h4>
    <p>Bias hours: {{ bias_hours.bias_hours }}</p>
    <p>Bias hours explanation: {{ bias_hours.explanation }}</p>
    <p>Bias hours approved: {{ bias_hours.approved }}</p>
  </div>


  <div id="subcrews" class="segment">
    <h4>Subcrews</h4>
    {% for s in subcrews %}
    <div class="subcrew_name">
      {{ s.name }}
    </div>
    <div class="subcrew_description">
      {{ s.description }}
    </div>
    {% endfor %}
  </div>

<button hx-get="{% url 'prefs:update_user_options' %}">Update</button>
</div>

{% endblock %}